.App {
  text-align: center;
}

.App.light {
  background-color: white;
  color: black;
}

.App.dark {
  background-color: black;
  color: white;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}
